<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">List Cours</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">List Cours</a>
              </li>
              <li class="breadcrumb-item active">Data List Cours</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="search"
                    id="example-search-input"
                    placeholder="Search Bar "
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                  data-toggle="modal"
                  data-target=".bs-example-modal-lg"
                >
                  Ajouter Cours
                </button>
              </div>
              <div class="container bootstrap snippets bootdey">
                <div class="row">
                <div class="col-md-6 col-xl-4">
                        <section class="widget">
                            <div class="widget-controls">
                                <a id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"
                                 data-widgster="close"><i class="mdi mdi-menu"></i></a>
                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Edit</a>
                                  <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-top-overflow text-white">
                                    <img src="https://via.placeholder.com/800x400/87CEFA/000000">
                                    <!-- <ul class="tags text-white pull-right">
                                        <a href="#" data-widgster="close"><i class="mdi mdi-close-circle-outline"></i></a>
                                        <a href="#"><i class="mdi mdi-refresh"></i></a>
                                    </ul> -->
                                </div>
                                <div class="post-user mt-sm">
                                    <span class="thumb pull-left mr">
                                        <img class="img-circle" src="https://bootdey.com/img/Content/user_2.jpg" alt="...">
                                    </span>
                                    <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Maryna</span> Nilson</h5>
                                    <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                                </div>
                                <!-- <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                                    thoughts, ideas. </p> -->
                            </div>
                        </section>   
                </div>
                
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content -->

  <footer class="footer">
    © 2022 <a href="" target="_blank">IcStartup</a>.
  </footer>
</div>