<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">Liste des Utilisateurs</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                <a routerLink="../">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Liste des Utilisateurs</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->
      <div  *ngIf="!spinnner" 
      class="spinner-border text-primary" id="spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="row" *ngIf="spinnner">
        <div class="col-12">
          <div class="card m-b-30">
            <div class="card-body">
              <h4 class="mt-0 header-title">Recherche :</h4>
              <div class="form-group row">
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="search"
                    id="example-search-input"
                    [(ngModel)]="searchText"
                    placeholder="Search Bar "
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                  routerLink="../ajouterutilisateur"
                >
                  Ajouter Utilisateur
                </button>
              </div>
              <table
                id="datatable"
                class="table table-bordered dt-responsive nowrap"
                style="
                  border-collapse: collapse;
                  border-spacing: 0;
                  width: 100%;
                "
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>Téléphone</th>
                    <th>Date de Naissance</th>
                    <th>Image</th>
                    <th>Role de l'utilisateur</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of DataFormateur
                        | filter: searchText
                        | paginate: { itemsPerPage: 10, currentPage: p }
                    "
                  >
                    <td>{{ item.id }}</td>
                    <td>{{ item.nom }}</td>
                    <td>{{ item.prenom }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.region }}</td>
                    <td>{{ item.tel }}</td>
                    <td>{{ item.date_naic }}</td>
                    <td>
                      <img
                        src="data:image/png;base64,{{ item.photo }}"
                        style="height: 50px; width: fil-content"
                        alt=""
                      />
                    </td>
                    <td *ngFor="let role of item.roles">{{ role.name }}</td>
                    <td>
                      <button
                        type="button"
                        data-toggle="modal"
                        data-target="#deleteModal"
                        class="btn btn-danger waves-effect waves-light"
                        (click)="GetIdUserToDelete(item.id)"
                      >
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          êtes-vous sûr de vouloir supprimer cet utilisateur
        </div>
        <div class="modal-footer">
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-outline-secondary waves-effect"
          >
            Annuler
          </button>
          <button
            type="button"
            (click)="DeleteUser()"
            data-dismiss="modal"
            class="btn btn-outline-danger waves-effect waves-light"
          >
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->