<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">List des Formations</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                <a routerLink="../">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item active">List Formations</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div
        *ngIf="!spinnner"
        class="spinner-border text-primary"
        id="spinner"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <!-- end page-title -->
      <div class="row" *ngIf="spinnner">
        <div class="col-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="search"
                    id="example-search-input"
                    placeholder="Search Bar"
                    [(ngModel)]="searchText"
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                  routerLink="../ajouterFormation"
                >
                  Ajouter Formation
                </button>
              </div>
              <div class="container">
                <div class="row">
                  <div
                    class="col-md-3"
                    *ngFor="
                      let item of DataFormation
                        | filter: searchText
                        | paginate: { itemsPerPage: 8, currentPage: p }
                    "
                  >
                    <div class="ibox">
                      <div class="ibox-content product-box">
                        <button
                          type="button"
                          class="btn btn-primary dropdown-toggle"
                          style="position: absolute; float: left"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="mdi mdi-dialpad"></i>
                        </button>
                        <img
                          src="data:image/png;base64,{{ item.image }}"
                          width="230px"
                          height="200px"
                          alt=""
                        />
                        <div class="dropdown-menu">
                          <a
                            class="dropdown-item"
                            data-toggle="modal"
                            data-target=".ModifierModal"
                            (click)="
                              GetdataFormation(
                                item.id,
                                item.description,
                                item.intitule,
                                item.tags,
                                item.titre,
                                item.formationscategorie?.id
                              )
                            "
                            >Modifier</a
                          >
                          <a
                            class="dropdown-item"
                            (click)="GetIdFormationToDelete(item.id)"
                            data-toggle="modal"
                            data-target=".deleteModal"
                            >Supprimer</a
                          >
                        </div>
                        <div class="product-desc">
                          <span class="product-price"> 750 DT </span>
                          <small class="text-muted">{{
                            item.formationscategorie?.name
                          }}</small>
                          <a
                            routerLink="../../admin/gestionFormation"
                            class="product-name"
                            >{{ item.titre }}</a
                          >

                          <div class="small m-t-xs">
                            {{
                              item.description.length > 100
                                ? (item.description | slice: 0:90) + ".."
                                : item.description
                            }}
                          </div>
                          <div class="m-t text-righ">
                            <!-- <br />
                            <a
                              href="#"
                              class="btn btn-xs btn-outline btn-primary"
                              >Info <i class="fa fa-long-arrow-right"></i>
                            </a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="!DataFormation.length">
                  <h6>La liste des formations est vide</h6>
                </div>
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content -->
</div>

<div
  class="modal fade deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supprimer Formation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        êtes-vous sûr de vouloir supprimer cette Formation
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary waves-effect"
          data-dismiss="modal"
        >
          Fermer
        </button>
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-outline-danger waves-effect waves-light"
          (click)="DeleteFormation()"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--************************************Modifier Formation*********************************-->

<div
  class="modal fade ModifierModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myLargeModalLabel">
          Modifier Formation
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #up="ngForm" (ngSubmit)="UpdateFormation(up); up.resetForm()">
          <div class="form-group">
            <label for="Prenom">Titre</label>
            <input
              type="text"
              class="form-control"
              id="titre"
              placeholder="titre"
              required
              [(ngModel)]="UpDataFormation.titre"
              name="titre"
              #titre="ngModel"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Formation Categorie</label>
            <select
              class="browser-default custom-select"
              id="categorie"
              name="categorie"
              #categorie="ngModel"
              ngModel
              [ngModel]="ModfierCategorie"
            >
              <option selected [ngValue]="null" disabled>
                Choisissez une catégorie
              </option>
              <option
                *ngFor="let item of DataFormationCategorie"
                value="{{ item?.id }}"
              >
                {{ item?.name }}
              </option>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="categorie.errors?.required && categorie.touched"
            >
              La catégorie de formation est obligatoire
            </div>
          </div>
          <div class="form-group">
            <label for="Prenom">Intitule</label>
            <input
              type="text"
              class="form-control"
              id="intitule"
              placeholder="intitule"
              required
              name="intitule"
              #intitule="ngModel"
              ngModel
              [(ngModel)]="UpDataFormation.intitule"
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="intitule.errors?.required && intitule.touched"
          >
            Intitule est obligatoire
          </div>
          <div class="form-group">
            <label for="Description">Description</label>
            <input
              type="text"
              class="form-control"
              id="Description"
              placeholder="Description"
              required
              name="Description"
              #Description="ngModel"
              ngModel
              [(ngModel)]="UpDataFormation.description"
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="Description.errors?.required && Description.touched"
          >
            Description est obligatoire
          </div>
          <div class="form-group">
            <label for="tags">tags</label>
            <input
              type="text"
              class="form-control"
              id="tags"
              placeholder="Béja"
              required
              name="tags"
              #tags="ngModel"
              ngModel
              [(ngModel)]="UpDataFormation.tags"
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="tags.errors?.required && tags.touched"
          >
            Tags est obligatoire
          </div>
          <button class="btn btn-success" [disabled]="up.invalid">
            Modifier Formation
          </button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
