<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">List Etudiants</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">List Etudiants</a>
              </li>
              <li class="breadcrumb-item active">Data List Etudiants</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-12">
          <div class="card m-b-30">
            <div class="card-body">
              <h4 class="mt-0 header-title">Search :</h4>
              <div class="form-group row">
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="search"
                    id="example-search-input"
                    [(ngModel)]="searchText"
                    placeholder="Search Bar "
                  />
                </div>
              </div>
              <table
                id="datatable"
                class="table table-bordered dt-responsive nowrap"
                style="
                  border-collapse: collapse;
                  border-spacing: 0;
                  width: 100%;
                "
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Région</th>
                    <th>Téléphone</th>
                    <th>Date de Naissance</th>
                    <th>Image</th>
                    <th>Niveau Etude</th>
                    <!-- <th>Ajouter Note de Devoir</th> -->
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of dataEtudiant 
                  | filter: searchText
                  | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nom }}</td>
                    <td>{{ item.prenom }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.region }}</td>
                    <td>{{ item.tel }}</td>
                    <td>{{ item.date_naic }}</td>
                    <td>
                      <img
                        src="data:image/png;base64,{{ item.photo }}"
                        style="height: 50px; width: fil-content"
                        alt=""
                      />
                    </td>
                    <td>{{ item.niveauetude }}</td>
                    <!-- <td>
                      <button
                        type="button"
                        data-toggle="modal"
                        data-target=".AjouterNote"
                        class="btn btn-primary waves-effect waves-light"
                        (click)="GetEtudiantId(item.id)"
                      >
                        <i class="icon-plus"></i>
                      </button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content -->
</div>

<!-- <div
  class="modal fade AjouterNote"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myLargeModalLabel">Large modal</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #DN="ngForm"
          (ngSubmit)="DonnerNotePourEtudiant(DN); DN.resetForm()"
        >
          <div class="form-group">
            <label for="exampleFormControlInput1">Devoir</label>
            <select
              class="browser-default custom-select"
              id="iddevoir"
              name="iddevoir"
              #iddevoir="ngModel"
              ngModel
            >
              <option selected [ngValue]="null" disabled>
                Choose a devoir
              </option>
              <option
                *ngFor="let item of dataDevoir"
                value="{{ item.devoirid }}"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="Note">Note</label>
            <input
              type="text"
              class="form-control"
              id="Note"
              placeholder="18"
              required
              name="Note"
              #Note="ngModel"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="remarque">Remarque</label>
            <input
              type="text"
              class="form-control"
              id="remarque"
              placeholder="remarque"
              required
              name="remarque"
              #remarque="ngModel"
              ngModel
            />
          </div>

          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
            *ngIf="messageSuccess"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ messageSuccess.message }}</strong>
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
            *ngIf="messageErr"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ messageErr.message }}</strong>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            type="button"
            style="float: right"
            data-dismiss="modal"
            aria-label="Close"
            class="btn btn-danger waves-effect waves-light"
          >
            Annuler
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            style="float: right"
            [disabled]="DN.invalid"
            class="btn btn-success waves-effect waves-light"
            >
            Ajouter
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </form>
      </div>
    </div>

  </div>

</div> -->

